.count{
    background-color: #F5F7Ff;
}
.add_new{
    background-color: #D9D9D9;
}
.task-title-bg{
    background-color: #84c0e35b;
}
.task-desc{
    font-size: x-small;
    color: #747474;
}

.hoverDisplay{
    display: visible;
}

.hide{
    display: none;
    visibility: hidden;
}

.visible{
    display: flex;
}
