@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel{
    scrollbar-width: none;
  }
.carousel::-webkit-scrollbar{
  display: none;
}
.backdrop{
  background: rgba(0, 0, 0, 0.5)
}
.primary-color-bg{
  background-color: #052CFD;
}
.main-color-text{
  color: #052CFD;
}
.body{
  height: 100vh;
}