@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #fff;
  --color-black: #000000e6;
  --color-variant: #2a2affe6;
  --color-gray: #808080;
  --shadow-effect: hwb(0 0% 100% / 0.35) 0px 5px 15px;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  /* height: inherit; */
}
