.banner__container {
  width: 90%;
  height: 18rem;
  background: var(--color-variant);
  margin: 0 auto;
  margin-bottom: 3.125rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.banner__container p {
  width: 25rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--color-bg);
}
.banner__container img {
  width: 12.5rem;
  height: 12.5rem;
}
@media screen and (max-width: 780px) {
  .banner__container {
    gap: 1rem;
    padding: 1rem;
  }
  .banner__container p {
    font-size: 1rem;
  }
  .banner__container img {
    width: 10rem;
    height: 10rem;
    /* background: gold; */
  }
}
@media screen and (max-width: 600px) {
  .banner__container {
    /* background: gold; */
    position: relative;
    align-items: stretch;
  }
  .banner__container p {
    margin-top: 1rem;
  }
  .banner__container img {
    position: absolute;
    bottom: 1rem;
    right: 0;
  }
}
@media screen and (max-width: 300px) {
  .banner__container {
    height: 20rem;
  }
  .banner__container img {
    position: absolute;
    bottom: 0rem;
    right: 0;
  }
}
